.container{
    display:flex;
    justify-self: center;
    border: solid 1px;
    height: 500px;
    width: 500px;

}

.sizer{
    display: flex;
    justify-self: center;
    margin-bottom: 100px;
    justify-content: center;
    font-size: 18px;
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-items: stretch;
}

.box{
    display: flex;
    flex: 1;
    align-self: stretch;
}