.container{
    display:flex;
    justify-self: center;
    border: solid 1px;
}

.sizer{
    display: flex;
    justify-self: center;
    margin-bottom: 100px;
    justify-content: center;
    font-size: 18px;
}

.box{
    height:15px;
    width: 15px;

}
